body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 5ch;
}

.headbtn{
    font-size: 30px;
    padding: 50px;
    text-align: center;
    background-color: gainsboro;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -40px;
    position: relative;
    overflow: hidden;
    
}

a:link{ 
    text-decoration: none;
}

.headbtn ul li{
    margin: 2ch;
    display: inline-block;
    text-align: center; 
    top:0; 
    font-family:'Lobster', cursive;
    
}

p{
    font-size: 25px;
    position: relative;
    display: inline-flexbox;

}

.logoBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.logo_squeeze{
    width: 100px;
    height: 150px;
}

.logo{
    width: 150px;
    height: 150px;
}

#meimg{
    width:250px;
    border-radius: 50%;
    vertical-align:middle;
    margin-left: 5ch;
    margin-bottom: 8ch;
}

#bouncingObject{
    width:250px;
    height: 250px;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
}

#intro{
    font-size: 28px;
    margin-left: 5ch; 
    text-align: center; 
    
    
}

.about{
    background-color: white;
}

#aboutme{
    background-color: rgb(255, 255, 255);
    padding: 3ch;
    display: inline-flex;
    
}

#work{
    background-color: gainsboro;
    padding: 15ch;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}

#education{
    background-color: rgb(255, 255, 255);
    padding: 15ch;
    text-align: center;
}

#skills{
    background-color: gainsboro;
    padding: 15ch;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}

#contact{
    padding: 10px;
    text-align: center;
    
}

#contact h2{
    display: inline-block;
    margin: 2ch;
    
}